/* for my demo page! */
body {
    background-color: rgb(183, 209, 200);
}

button.add-tag {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow      : unset;
    border          : unset;
    transition      : background-color 0.2s, transform 0.15s;

}

button.add-tag:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

button.add-tag:active {
    transform: scale(0.9);
}

:focus-visible {
    outline-width: 1px;
    outline-color: rgba(255, 255, 255, 0.3);
    outline-style: solid;
}

code {
    font-family: 'Fira Code', 'Cascadia Code', 'Inconsolata', monospace;
}

.grid-wrap {
    display: grid;
}

.columns-two {
    grid-template-columns: repeat(2, 1fr);
}

.columns-three {
    grid-template-columns: repeat(3, 1fr);
}

.flex-wrap {
    display: flex;
}

.square {
    height          : 50px;
    width           : 50px;
    background-color: rgb(125, 125, 172);
    margin          : 20px;
    border-radius   : 10px;
}

.info-block {
    background-color: rgba(255, 255, 255, 0.9);
    padding         : 5px 0px;
    border-radius   : 10px;
}

.info-block h2 {
    text-align: center;
}