/* for my demo page! */
body {
    background-color: rgb(215, 223, 220);
}

button.add-tag {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow      : unset;
    border          : unset;
    transition      : background-color 0.2s, transform 0.15s;
    color           : var(--note-secondary);


}

button.add-tag:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

button.add-tag:active {
    transform: scale(0.9);
}

:focus-visible {
    outline-width: 1px;
    outline-color: rgba(255, 255, 255, 0.3);
    outline-style: solid;
}

code {
    font-family: 'Fira Code', 'Cascadia Code', 'Inconsolata', monospace;
}

.grid-wrap {
    display: grid;
}

.columns-two {
    grid-template-columns: repeat(2, 1fr);
}

.columns-three {
    grid-template-columns: repeat(3, 1fr);
}

.flex-wrap {
    display: flex;
}

.square {
    height          : 50px;
    width           : 50px;
    background-color: rgb(149, 149, 174);
    margin          : 20px;
    border-radius   : 10px;
}

.square:nth-of-type(even) {
    background-color: rgb(136, 153, 153);
}

main>div {
    padding      : 5px;
    border-radius: 10px;
    margin       : 5px;
}

.info-block {
    background-color: rgba(255, 255, 255, 0.9);


}

.info-block h2 {
    text-align   : center;
    border-bottom: 1.5px solid gainsboro;
    margin       : 2px 5px;
}

.info-block ul {
    margin-left         : 0px;
    padding-inline-start: 20px;
    list-style-type     : square;
}

.info-block ul li::marker {
    color    : rgb(147, 157, 162);
    font-size: 130%;

}


.custom-tags {
    --note-primary  : orange;
    --note-secondary: rgb(242, 227, 202);
    background-color: var(--note-primary);
    color           : var(--note-secondary);

}

.custom-tags:nth-child(even),
.tags-area-cont {
    background-color: var(--note-primary);
    color           : var(--note-secondary);
    --note-primary  : rgb(67, 69, 86);
    --note-secondary: rgb(174, 196, 228);
}